<header class='header-container'>
  <ul class='header-menu'>
    <li>Intro</li>
    <li>About</li>
    <li>Featured</li>
  </ul>
  <h1 id='header-text'>Art Objects</h1>
</header>

<style lang='scss'>
  .header-container {
    position: relative;
    .header-menu {
      position: absolute;
      left: 0;
      top: 100px;

      letter-spacing: 1px;
      font-family: 'Syncopate', sans-serif;
      color: #626262;
      text-transform: uppercase;
      li {
        margin: 10px 0;
      }
    }

    #header-text {
      font-size: 20vw;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Bai Jamjuree', sans-serif;
      font-weight: 600;
    }
  }
</style>
